In [1]:
import requests
import json
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import csv

In [2]:
csv_path = r"C:\Users\erick\Projects\Project\tech_contracts\gov.contracts_info.csv"
contracts = pd.read_csv(csv_path, encoding = "ISO-8859-1")
contracts.head(10)

,Contract ID,Reference IDV,Modification Number,Transaction Number,Award/IDV Type,Action Obligation ($),Date Signed,Solicitation Date,Contracting Agency ID,Contracting Agency,...,Vendor DUNS,Vendor Name,Vendor City,Vendor State,Vendor ZIP Code,Global DUNS Number,Global Vendor Name,Additional Reporting Code,Additional Reporting Description,Unnamed: 25
0,AE070198912DDAAE0790CJ002,NaN,0,0,DCA Definitive Contract,"$1,044,000.00","Dec 15, 1989",NaN,2100,DEPT OF THE ARMY,...,609313325,SBA DENVER,NaN,NaN,NaN,609313325,SBA DENVER,NaN,NaN,NaN
1,00011198411BSBA8456OBD84,NaN,0,0,PO Purchase Order,"$41,000.00","Apr 15, 1987",NaN,7300,SMALL BUSINESS ADMINISTRATION,...,175354208,NaN,NaN,NaN,NaN,175354208,SBA ADVANCE INCORPORATED,NaN,NaN,NaN
2,00011199007DSBA5030OBD90,NaN,0,0,DCA Definitive Contract,"$91,000.00","Jul 15, 1990",NaN,7300,SMALL BUSINESS ADMINISTRATION,...,175354208,SBA ADVANCE INCORPORATED,NaN,NaN,NaN,175354208,SBA ADVANCE INCORPORATED,NaN,NaN,NaN
3,0001,N6600199D5016,0,0,DO Delivery Order,"$56,494.00","Jan 26, 1999",NaN,1700,DEPT OF THE NAVY,...,119076719,"INTEGRATED SYSTEMS CONTROL, IN",VIRGINIA BEACH,VA,23462,119076719,INTEGRATED SYS SBA,NaN,NaN,NaN
4,0001,W912JC07D5317,0,0,DO Delivery Order,$200.00,"Sep 26, 2007",NaN,2100,DEPT OF THE ARMY,...,799064659,SBA CONSTRUCTION COMPANY INCORPORATED,WICHITA,KS,672132938,799064659,SBA CONSTRUCTION COMPANY,NaN,NaN,NaN
5,0001,W912JC12D5316,0,0,DO Delivery Order,$200.00,"Sep 9, 2015",NaN,2100,DEPT OF THE ARMY,...,799064659,SBA CONSTRUCTION COMPANY,WICHITA,KS,672132938,799064659,SBA CONSTRUCTION COMPANY,NaN,NaN,NaN
6,0002,N6600199D5016,0,0,DO Delivery Order,"$28,000.00","Feb 5, 1999",NaN,1700,DEPT OF THE NAVY,...,119076719,"INTEGRATED SYSTEMS CONTROL, IN",VIRGINIA BEACH,VA,23462,119076719,INTEGRATED SYS SBA,NaN,NaN,NaN
7,0002,W912JC07D5317,0,0,DO Delivery Order,"$149,200.00","Sep 26, 2007",NaN,2100,DEPT OF THE ARMY,...,799064659,SBA CONSTRUCTION COMPANY INCORPORATED,WICHITA,KS,672132938,799064659,SBA CONSTRUCTION COMPANY,NaN,NaN,NaN
8,0002,W912JC12D5316,0,0,DO Delivery Order,"$186,050.00","Sep 26, 2014",NaN,2100,DEPT OF THE ARMY,...,799064659,SBA CONSTRUCTION COMPANY,WICHITA,KS,672132938,799064659,SBA CONSTRUCTION COMPANY,NaN,NaN,NaN
9,0002,W912JC07D5317,1,0,DO Delivery Order,"$10,909.80","Sep 5, 2008",NaN,2100,DEPT OF THE ARMY,...,799064659,SBA CONSTRUCTION COMPANY INCORPORATED,WICHITA,KS,672132938,799064659,SBA CONSTRUCTION COMPANY,NaN,NaN,NaN

In [3]:
contracts = contracts[['PSC Type', 'PSC Description','Vendor State', 'Vendor Name', 'Date Signed']]
contracts.head(10)

,PSC Type,PSC Description,Vendor State,Vendor Name,Date Signed
0,P,TRAILERS,NaN,SBA DENVER,"Dec 15, 1989"
1,S,ADP SYSTEMS DEVELOPMENT SERVICES,NaN,NaN,"Apr 15, 1987"
2,S,ADP DATA ENTRY SERVICES,NaN,SBA ADVANCE INCORPORATED,"Jul 15, 1990"
3,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Jan 26, 1999"
4,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007"
5,S,CONSTRUCTION OF OTHER ADMINISTRATIVE FACILITIE...,KS,SBA CONSTRUCTION COMPANY,"Sep 9, 2015"
6,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Feb 5, 1999"
7,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007"
8,S,CONSTRUCTION OF OTHER INDUSTRIAL BUILDINGS,KS,SBA CONSTRUCTION COMPANY,"Sep 26, 2014"
9,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 5, 2008"

In [4]:
state_abbrev = {
    "AL": "Alabama",
    "AK": "Alaska",
    "AZ": "Arizona",
    "AR": "Arkansas",
    "CA": "California",
    "CO": "Colorado",
    "CT": "Connecticut",
    "DE": "Delaware" ,
    "FL": "Florida",
    "GA":"Georgia" ,
    "HI": "Hawaii",
    "ID": "Idaho",
    "IL":"Illinois",
    "IN": "Indiana",
    "IA": "Iowa",
    "KS": "Kansas",
    "KY": "Kentucky",
    "LA": "Louisiana",
    "ME": "Maine",
    "MD":"Maryland",
    "MA": "Massachusetts",
    "MI": "Michigan",
    "MN": "Minnesota",
    "MS": "Mississippi",
    "MO": "Missouri",
    "MT":  "Montana",
    "NE": "Nebraska",
    "NV": "Nevada",
    "NH":"New Hampshire",
    "NJ":"New Jersey",
    "New Mexico": "NM",
    "New York": "NY",
    "NC": "North Carolina",
    "ND":"North Dakota",
    "OH": "Ohio",
    "OK": "Oklahoma",
    "OR": "Oregon",
    "PA": "Pennsylvania",
    "RI": "Rhode Island",
    "SC": "South Carolina",
    "SD": "South Dakota",
    "TN": "Tennessee" ,
    "TX": "Texas",
    "UT": "Utah",
    "VT": "Vermont",
    "VA":  "Virginia",
    "WA": "Washington",
    "WV": "West Virginia",
    "WI": "Wisconsin",
    "WY": "Wyoming"
}

In [5]:
state_abbrev = {abbrev: state for state, abbrev in state_abbrev.items()}
contracts['State'] = contracts['Vendor State'].map(state_abbrev)
contracts.head()

,PSC Type,PSC Description,Vendor State,Vendor Name,Date Signed,State
0,P,TRAILERS,NaN,SBA DENVER,"Dec 15, 1989",NaN
1,S,ADP SYSTEMS DEVELOPMENT SERVICES,NaN,NaN,"Apr 15, 1987",NaN
2,S,ADP DATA ENTRY SERVICES,NaN,SBA ADVANCE INCORPORATED,"Jul 15, 1990",NaN
3,S,PROGRAM MANAGEMENT/SUPPORT SERVICES,VA,"INTEGRATED SYSTEMS CONTROL, IN","Jan 26, 1999",NaN
4,S,"MAINT, REP/ALTER/ALL OTHER",KS,SBA CONSTRUCTION COMPANY INCORPORATED,"Sep 26, 2007",NaN

In [6]:
contracts['Vendor State']=contracts['Vendor State'].astype(str).str.upper()

In [ ]:
#contracts_dropna=contracts[['PSC Description','Vendor State', 'Vendor Name', 'Date Signed']].dropna()
#contracts_dropna.head()

In [7]:
contracts_dropna=contracts[['PSC Description','State', 'Vendor Name', 'Date Signed']].dropna()
#contracts_dropna

In [25]:
new_df=contracts[['State','Date Signed', 'PSC Description']].dropna()
new_df

,State,Date Signed,PSC Description
1906,New York,"Jul 30, 2013",TRANSPORTATION/TRAVEL/RELOCATION- TRANSPORTATI...
2281,New Mexico,"Sep 7, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2282,New Mexico,"Sep 12, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2323,New York,"Oct 24, 2008",OFFICE FURNITURE
2326,New York,"Mar 30, 2016",REPAIR OR ALTERATION OF OFFICE BUILDINGS
2385,New Mexico,"Mar 11, 2014",ARCHITECT AND ENGINEERING- GENERAL: PRODUCTION...
2449,New York,"Apr 28, 2004",ADP SYSTEMS DEVELOPMENT SERVICES
2450,New York,"Aug 30, 2004",ADP SYSTEMS DEVELOPMENT SERVICES
2572,New Mexico,"Mar 4, 2009",MAINT-REP-ALT/FAMILY HOUSING
2573,New Mexico,"Feb 15, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2574,New Mexico,"Sep 13, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2575,New Mexico,"Jan 30, 2008",MAINT-REP-ALT/OTHER ADMIN BLDGS
2576,New Mexico,"Sep 13, 2008",MAINT-REP-ALT/OTHER ADMIN BLDGS
2577,New Mexico,"Jun 4, 2009",MAINT-REP-ALT/OTHER ADMIN BLDGS
2578,New Mexico,"Aug 28, 2009",MAINT-REP-ALT/OTHER ADMIN BLDGS
2579,New Mexico,"Sep 11, 2009",MAINT-REP-ALT/OTHER ADMIN BLDGS
2580,New Mexico,"Sep 3, 2010",MAINT-REP-ALT/OTHER ADMIN BLDGS
2581,New Mexico,"Sep 30, 2010",MAINT-REP-ALT/OTHER ADMIN BLDGS
2582,New Mexico,"Sep 18, 2008",MAINT-REP-ALT/OTHER ADMIN BLDGS
2585,New York,"May 12, 2005",RELOCATION SERVICES
2586,New York,"Dec 17, 2008",OTHER UTILITIES
2873,New Mexico,"Mar 18, 2008",MAINT-REP-ALT/OTHER ADMIN BLDGS
2874,New Mexico,"Oct 1, 2006",CONSTRUCT/RESTORATION
2875,New Mexico,"Apr 12, 2007",CONSTRUCT/RESTORATION
2876,New Mexico,"Jul 30, 2007",CONSTRUCT/RESTORATION
2920,New Mexico,"Nov 3, 2006",CONSTRUCT/RESTORATION
2921,New Mexico,"Apr 11, 2007",CONSTRUCT/RESTORATION
2922,New Mexico,"Jul 10, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2923,New Mexico,"Sep 21, 2007",MAINT-REP-ALT/OTHER ADMIN BLDGS
2926,New Mexico,"Sep 30, 2008",MAINT-REP-ALT/OTHER INDUSTRIAL BLDG
...,...,...,...
4781,New Mexico,"Jun 2, 2014",PREFABRICATED AND PORTABLE BUILDINGS
4815,New York,"Jan 29, 2018",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
4883,New Mexico,"Apr 3, 2017",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
4884,New Mexico,"Jun 15, 2017",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
4885,New Mexico,"Apr 27, 2018",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
4888,New Mexico,"Mar 17, 2015",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4889,New Mexico,"Sep 9, 2015",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4890,New Mexico,"Sep 22, 2015",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4891,New Mexico,"Mar 10, 2016",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4892,New Mexico,"Mar 15, 2016",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4893,New Mexico,"May 11, 2017",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4894,New Mexico,"May 11, 2017",SUPPORT- PROFESSIONAL: PROGRAM MANAGEMENT/SUPPORT
4936,New York,"May 5, 2011",ATHLETIC AND SPORTING EQUIPMENT
4978,New York,"Sep 1, 2009",COMMUNICATIONS SERVICES
4996,New Mexico,"Jan 28, 2016",SUPPORT- ADMINISTRATIVE: OTHER
4997,New Mexico,"Feb 1, 2017",SUPPORT- ADMINISTRATIVE: OTHER
5005,New York,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5006,New York,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5007,New York,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5008,New York,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5009,New York,"Aug 24, 2017",CONSTRUCTION OF RESTORATION OF REAL PROPERTY (...
5010,New York,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5011,New York,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5012,New York,"Aug 23, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5013,New York,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
5014,New York,"Aug 24, 2017",CONSTRUCTION OF RESTORATION OF REAL PROPERTY (...
5031,New Mexico,"Sep 15, 2016",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
5032,New Mexico,"Aug 31, 2017",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
5033,New Mexico,"Mar 13, 2018",SUPPORT- PROFESSIONAL: ENGINEERING/TECHNICAL
5101,New York,"Aug 10, 2017",VIDEO RECORDING AND REPRODUCING EQUIPMENT

In [33]:
x_axis = 'State'
tick_locations = [value+0.4 for value in x_axis]
plt.figure(figsize=(20,3))
plt.bar(x_axis, new_df["State"], color='blue', alpha=0.5, align="edge")
plt.xticks(new_df['PSC Description', new_df["State"], rotation="vertical")

SyntaxError: invalid syntax (<ipython-input-33-8a554a0b7d29>, line 5)

In [ ]:
#contracts = pd.DataFrame({'PSC Description','Vendor State','Vendor Name','Date Signed'})
#df.rename(columns={'PSC Description': 'Business Type', 'Vendor State': 'State', 'Vendor Name':'Business Name',\
                   'Date Signed':'Date Signed'})

In [ ]:
# Remove projects that made no money at all
#reduced_kickstarter_df = reduced_kickstarter_df.loc[(reduced_kickstarter_df["pledged"] > 0)]
#reduced_kickstarter_df.head()
# Create a list of the columns
#columns = ['PSC Description','Business Type', 'Vendor State', 'Vendor Name',
                   'Date Signed']
   
#  Create a new df for "US" with the columns. 
#state = pd.DataFrame[contracts,  columns]
#state.head()

In [ ]:
# Use Map to format all the columns
#file_df["avg_cost"] = file_df["avg_cost"].map("${:.4f}".format)
#file_df["population"] = file_df["population"].map("{:,}".format)
#file_df["other"] = file_df["other"].map("{:.2f}".format)
#file_df.head()

In [ ]:
#contracts_df = pd.DataFrame({"": [PSC Type, , 3], "B": [4, 5, 6]})
#df.rename(columns={"A": "a", "B": "c"})

In [ ]:
csv_path = r"C:\Users\erick\Projects\Project\tech_contracts\Unemployment_rate_per_state.csv"
unemployment_rate = pd.read_csv(csv_path, encoding = "ISO-8859-1")
unemployment_rate.head()

In [ ]:
unemployment_rate['State']=unemployment_rate['State'].apply(lambda x:x.upper())
unemployment_rate.head()

In [ ]:
#average=state_unemployment.mean
#average_df=pd.DataFrame({average, "State": [:]})

In [ ]:
state_unemployment= pd.merge(average, new_df, on='State', how='outer')
state_unemployment
#unemployment_rate.dtypes

In [ ]:
#average = unemployment_rate.mean
#average

In [ ]:
x_axis = 'State'
tick_locations = [value+0.4 for value in x_axis]

In [ ]:
plt.figure(figsize=(20,3))
plt.bar(x_axis, contracts_dropna["State"], color='blue', alpha=0.5, align="edge")
plt.xticks(average, contracts_dropna["State"], rotation="vertical")

In [9]:
csv_path = r"C:/Users/erick/Projects/Project/tech_contracts/GDP_by_State.csv"
gdp_state = pd.read_csv(csv_path, encoding = "ISO-8859-1")
gdp_state.head()

,Area,2000 ($MM),2005 ($MM),2010 ($MM),2015 ($MM),2000 % of Total,2015 % of Total,2000-15 Compound Growth Rate,Growth Rate Rank,Change in % 2000-15
0,Alabama,"$119,020","$156,750","$174,710","$199,656",1.16%,1.11%,3.51%,35.0,-0.05%
1,Alaska,"$26,853","$40,063","$54,134","$52,747",0.26%,0.29%,4.60%,10.0,0.03%
2,Arizona,"$165,912","$227,358","$245,668","$290,903",1.62%,1.62%,3.81%,22.0,0.00%
3,Arkansas,"$68,809","$90,319","$102,951","$118,907",0.67%,0.66%,3.71%,28.0,-0.01%
4,California,"$1,362,995","$1,766,693","$1,965,886","$2,481,348",13.34%,13.85%,4.07%,16.0,0.51%

In [ ]:
gdp_state['Area'].astype(str).str.upper()

#gdp_state['Area']= gdp_state['Area']).upper()
#gdp_state.head()

In [16]:
gdp_state['Area']=gdp_state['Area'].astype(str).str.upper()
gdp_state.head()

,Area,2000 ($MM),2005 ($MM),2010 ($MM),2015 ($MM),2000 % of Total,2015 % of Total,2000-15 Compound Growth Rate,Growth Rate Rank,Change in % 2000-15
0,ALABAMA,"$119,020","$156,750","$174,710","$199,656",1.16%,1.11%,3.51%,35.0,-0.05%
1,ALASKA,"$26,853","$40,063","$54,134","$52,747",0.26%,0.29%,4.60%,10.0,0.03%
2,ARIZONA,"$165,912","$227,358","$245,668","$290,903",1.62%,1.62%,3.81%,22.0,0.00%
3,ARKANSAS,"$68,809","$90,319","$102,951","$118,907",0.67%,0.66%,3.71%,28.0,-0.01%
4,CALIFORNIA,"$1,362,995","$1,766,693","$1,965,886","$2,481,348",13.34%,13.85%,4.07%,16.0,0.51%

In [27]:
#gdp_state = pd.DataFrame({"": [1, 2, 3], "B": [4, 5, 6]})
gdp_state.rename(columns={"Area":"State"},inplace = True)

In [31]:
gdp_merge = pd.merge(gdp_state, new_df, on='State', how= 'outer')
gdp_merge.head(100)

,State,2000 ($MM),2005 ($MM),2010 ($MM),2015 ($MM),2000 % of Total,2015 % of Total,2000-15 Compound Growth Rate,Growth Rate Rank,Change in % 2000-15,Date Signed,PSC Description
0,ALABAMA,"$119,020","$156,750","$174,710","$199,656",1.16%,1.11%,3.51%,35.0,-0.05%,NaN,NaN
1,ALASKA,"$26,853","$40,063","$54,134","$52,747",0.26%,0.29%,4.60%,10.0,0.03%,NaN,NaN
2,ARIZONA,"$165,912","$227,358","$245,668","$290,903",1.62%,1.62%,3.81%,22.0,0.00%,NaN,NaN
3,ARKANSAS,"$68,809","$90,319","$102,951","$118,907",0.67%,0.66%,3.71%,28.0,-0.01%,NaN,NaN
4,CALIFORNIA,"$1,362,995","$1,766,693","$1,965,886","$2,481,348",13.34%,13.85%,4.07%,16.0,0.51%,NaN,NaN
5,COLORADO,"$181,488","$220,454","$253,374","$313,748",1.78%,1.75%,3.72%,27.0,-0.02%,NaN,NaN
6,CONNECTICUT,"$169,004","$210,170","$234,528","$252,930",1.65%,1.41%,2.72%,50.0,-0.24%,NaN,NaN
7,DELAWARE,"$44,851","$53,247","$57,471","$68,724",0.44%,0.38%,2.89%,49.0,-0.06%,NaN,NaN
8,DISTRICT OF COLUMBIA,"$60,059","$83,586","$103,831","$122,146",0.59%,0.68%,4.85%,8.0,0.09%,NaN,NaN
9,FLORIDA,"$497,541","$700,267","$735,098","$888,087",4.87%,4.96%,3.94%,21.0,0.09%,NaN,NaN
10,GEORGIA,"$306,528","$388,342","$412,485","$497,944",3.00%,2.78%,3.29%,40.0,-0.22%,NaN,NaN
11,HAWAII,"$41,472","$58,573","$68,225","$80,376",0.41%,0.45%,4.51%,11.0,0.04%,NaN,NaN
12,IDAHO,"$38,216","$47,176","$55,258","$65,549",0.37%,0.37%,3.66%,32.0,-0.01%,NaN,NaN
13,ILLINOIS,"$491,644","$586,442","$653,476","$776,882",4.81%,4.34%,3.10%,44.0,-0.48%,NaN,NaN
14,INDIANA,"$205,487","$245,197","$282,259","$336,053",2.01%,1.88%,3.33%,38.0,-0.14%,NaN,NaN
15,IOWA,"$94,792","$123,353","$141,697","$174,030",0.93%,0.97%,4.13%,15.0,0.04%,NaN,NaN
16,KANSAS,"$86,869","$104,884","$128,542","$149,641",0.85%,0.84%,3.69%,29.0,-0.01%,NaN,NaN
17,KENTUCKY,"$114,592","$143,875","$165,974","$193,274",1.12%,1.08%,3.55%,34.0,-0.04%,NaN,NaN
18,LOUISIANA,"$133,200","$199,683","$232,596","$239,305",1.30%,1.34%,3.98%,18.0,0.03%,NaN,NaN
19,MAINE,"$37,072","$46,277","$51,456","$57,297",0.36%,0.32%,2.95%,48.0,-0.04%,NaN,NaN
20,MARYLAND,"$192,565","$263,809","$313,952","$365,356",1.88%,2.04%,4.36%,12.0,0.15%,NaN,NaN
21,MASSACHUSETTS,"$289,688","$345,059","$402,652","$484,943",2.83%,2.71%,3.49%,36.0,-0.13%,NaN,NaN
22,MICHIGAN,"$351,621","$395,166","$385,021","$468,334",3.44%,2.61%,1.93%,51.0,-0.83%,NaN,NaN
23,MINNESOTA,"$191,106","$243,933","$269,937","$328,340",1.87%,1.83%,3.67%,31.0,-0.04%,NaN,NaN
24,MISSISSIPPI,"$65,937","$81,678","$95,810","$105,819",0.65%,0.59%,3.20%,43.0,-0.05%,NaN,NaN
25,MISSOURI,"$188,736","$224,091","$255,865","$294,491",1.85%,1.64%,3.01%,46.0,-0.20%,NaN,NaN
26,MONTANA,"$21,953","$30,637","$38,375","$45,237",0.21%,0.25%,4.94%,6.0,0.04%,NaN,NaN
27,NEBRASKA,"$57,235","$73,455","$92,231","$113,282",0.56%,0.63%,4.66%,9.0,0.07%,NaN,NaN
28,NEVADA,"$77,006","$118,785","$121,713","$139,724",0.75%,0.78%,4.05%,17.0,0.03%,NaN,NaN
29,NEW HAMPSHIRE,"$45,519","$57,282","$64,159","$73,867",0.45%,0.41%,3.28%,41.0,-0.03%,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
70,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 21, 2018","CLOTHING, SPECIAL PURPOSE"
71,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sep 27, 2018","CLOTHING, SPECIAL PURPOSE"
72,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nov 2, 2018","CLOTHING, SPECIAL PURPOSE"
73,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 21, 2018","CLOTHING, SPECIAL PURPOSE"
74,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nov 3, 2005",MAINT-REP-ALT/OFFICE BLDGS
75,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jan 4, 2006",MAINT-REP-ALT/OFFICE BLDGS
76,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mar 28, 2006",MAINT-REP-ALT/OFFICE BLDGS
77,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jan 10, 2013",SUPPORT- PROFESSIONAL: OTHER
78,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 30, 2012",SUPPORT- PROFESSIONAL: OTHER
79,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 31, 2013",SUPPORT- PROFESSIONAL: OTHER
80,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jan 27, 2014",SUPPORT- PROFESSIONAL: OTHER
81,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mar 25, 2009",MAINT-REP-ALT/OFFICE BLDGS
82,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jun 30, 2010",MAINT-REP-ALT/OFFICE BLDGS
83,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sep 30, 2005",MOTOR VEHICLE MAINT EQ
84,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Feb 18, 2005",OTHER PROFESSIONAL SERVICES
85,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 18, 2008",OTHER PROFESSIONAL SERVICES
86,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Feb 22, 2005",OTHER PROFESSIONAL SERVICES
87,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 18, 2008",OTHER PROFESSIONAL SERVICES
88,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sep 30, 2016",IT AND TELECOM- INTEGRATED HARDWARE/SOFTWARE/S...
89,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 1, 2011",CUTTING TOOLS FOR MACHINE TOOLS
90,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jan 29, 2018",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
91,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 5, 2011",ATHLETIC AND SPORTING EQUIPMENT
92,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sep 1, 2009",COMMUNICATIONS SERVICES
93,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
94,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
95,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 30, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
96,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
97,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 24, 2017",CONSTRUCTION OF RESTORATION OF REAL PROPERTY (...
98,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS
99,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aug 24, 2017",CONSTRUCTION OF MISCELLANEOUS BUILDINGS

In [30]:
plt.figure(figsize=(20,3))
plt.bar(x_axis, gdp_merge["State"], color='blue', alpha=0.5, align="edge")
plt.xticks(gdp_merge, gdp_merge["Growth Rate Rank"], rotation="vertical")

NameError: name 'x_axis' is not defined